.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  &__header {
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    text-decoration: none;
    color: var(--titel-text-color);
  }
  &__footer {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--primary-white-color);
  }
  &__text {
    color: var(--accent-color);
  }
  &:hover {
    animation: shake-logo 400ms var(--time-function) infinite;
  }
}
