.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: var(--primary-text-color);
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--comp-address {
      color: var(--primary-white-color);
      text-decoration: none;
      font-size: 14px;
      line-height: 1.72;
      transition: var(--time-duration) var(--time-function);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  width: 206px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    align-items: flex-start;
  }

  &__titel {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

.socials-address {
  display: flex;
  &__item {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    @include displayFlex();
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: 93px;
    align-items: flex-start;
  }
  &__titel {
    margin-bottom: 20px;
    display: block;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.email-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  // @media screen and (max-width: 768px) {
  //   width: 100%;
  // }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus-within {
    outline: none;
  }
}

.form-button-send {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 0;
    bottom: 20px;
    margin-left: 12px;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    margin-left: 29px;
  }
  &__icon {
    display: block;
    align-items: center;
    margin-left: 10px;
  }
}
