.portfolio {
  @include sectionPadding();
}

// .works-set {
//   display: flex;
//   flex-wrap: wrap;
//   &__item {
//     width: calc((100% - 60px) / 3);
//     margin-right: 30px;
//     margin-bottom: 30px;
//     &:nth-child(3n) {
//       margin-right: 0;
//     }
//     &:nth-last-child(-n + 3) {
//       margin-bottom: 0;
//     }
//   }
// }

.works-set {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  &__item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 60px);
      margin-left: 30px;
    }
  }
}

.example {
  text-decoration: none;
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    color: var(--primary-text-color);
  }
  &__titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--titel-text-color);
  }
  &__text {
    font-size: 16px;
    line-height: 1.87;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--time-duration) var(--time-function);
    .example:hover &,
    .example:focus & {
      transform: translateY(0%);
    }
  }
}
