@mixin displayFlex($df: flex, $jc: center, $ai: center) {
  display: $df;
  justify-content: $jc;
  align-items: $ai;
}
@mixin sectionPadding($pt: 60px, $pb: 60px) {
  padding-top: $pt;
  padding-bottom: $pb;
}
